@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force dark mode */
html.dark,
html.dark body {
  background-color: #242424;
  color: white;
}

/* Root height */
#root {
  min-height: 100vh;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #646cff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #535bf2;
}